lib
out
ProjetAlbumJu.iml
.idea
web/resources/css/bootstrap.css
web/resources/css/bootstrap-theme.css
web/resources/css/jasny-bootstrap.min.css
web/resources/fonts/
web/resources/js/bootstrap.js
web/resources/js/jquery-3.1.1.js
web/resources/js/jasny-bootstrap.min.js
build
.settings
.project
.classpath
web/resources/js/validator.js
